body.purple{
    --color: #B3DBCF;
    --color-hover: #C9FFEF;
    --color-revealed: #FF98B9;
    --color-flag: #E3DCFF;
    --color-mine: #7A58FF;
    --color-background: #84B4B1;
    --color-font: #FFE1EB;
    
    --shadow: #52A19D;
    --shadow-hover: #73DAD3;
    --shadow-revealed: #FF6999;
    --shadow-flag: #8B7CCA;
    --shadow-mine: #603DEB;
}