#game-grid{
    width: 100vw;
    height: 100vw;
    
    padding: 1rem;
    
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-gap: .3rem;
    
    grid-row:  3 / 4;
}

.field{
    border-radius: .6rem;
    border: none;
    color: var(--color-font);
    font-size: 2rem;
    
    background-color: var(--color);
    transform: scale(1);

    transition: all 100ms ease;
}

.field:hover{
    background-color: var(--color-hover);
}

.field.revealed{
    background-color: var(--color-revealed);
    animation: expand 120ms ease;
}

.field.mine.revealed{
    background-color: var(--color-mine);
    animation: shake 300ms ease;
}

.field.flag{
    background-color: rgb(255, 189, 9);
    animation: expand 120ms ease;
}

body.purple{
    --color: #4A475B;
    --color-hover: #605f69;
    --color-revealed: #8848f0;
    --color-mine: #ff6450;
    --color-background: #2F2D39;
    --color-title: #4A475B;
    --color-font: #ffffff;
}

body.blue{
    --color: #8759F8;
    --color-hover: #956ef8;
    --color-revealed: #62dfba;
    --color-mine: #ff6450;
    --color-background: #1b1f31;
    --color-title: #4A475B;
}

.field.focus{
    transform: scale(.8);
}

@keyframes shake {
    0%{
        transform: rotateZ(0deg);
    }
    25%{
        transform: rotateZ(-3deg);
    }
    50%{
        transform: rotateZ(3deg);
    }
    75%{
        transform: rotateZ(-3deg);
    }
    100%{
        transform: rotateZ(0deg);
    }
}

@keyframes expand {
    0%{
        transform: rotateZ(0deg) scale(.8);
    }
    50%{
        transform: rotateZ(0deg) scale(1.1);
    }
    100%{
        transform: rotateZ(0deg) scale(1);
    }
}