#game-grid{
    width: 100vw;
    height: 100vw;
    
    padding: 1rem;
    
    display: grid;
    grid-template-columns: repeat(var(--gridSize), 1fr);
    grid-template-rows: repeat(var(--gridSize), 1fr);
    grid-gap: .3rem;
    
    grid-row:  3 / 4;
}

.field{
    background-color: transparent;
    border: none;
    outline: none;
}

.field div{
    width: 100%;
    height: 100%;

    border-radius:  calc(3rem / var(--gridSize));
    border: none;
    background-color: var(--color);
    box-shadow: 0px 3px 0px var(--shadow);

    color: transparent;
    font-size: calc(10rem / var(--gridSize));    
    
    transform: scale(1);
    position: relative;
    z-index: 0;
    transition: all 100ms ease;

    display: flex;
    align-items: center;
    justify-content: center;

    pointer-events: none;
}

.field:hover div{
    background-color: var(--color-hover);
    box-shadow: 0px 3px 0px var(--shadow-hover);
}

.field.revealed div{
    color: var(--color-font);
    background-color: var(--color-revealed);
    box-shadow: 0px 3px 0px var(--shadow-revealed);
    animation: expand 120ms ease;
}

.field.mine.revealed div{
    background-color: var(--color-mine);
    box-shadow: 0px 3px 0px var(--shadow-mine);
    animation: shake 300ms ease;
    background-image: url(../images/explosion.svg);
    background-repeat: no-repeat;
    background-size: 70%;
    background-position: 50%;
}

.field.flag div{
    background-color: var(--color-flag);
    box-shadow: 0px 3px 0px var(--shadow-flag);
    animation: expand 120ms ease;
    
    background-image: url(../images/bomb.svg);
    background-repeat: no-repeat;
    background-size: 70%;
    background-position: 60% 40%;
}

.field.focus div{
    transform: scale(.8);
}

@keyframes shake {
    0%{
        transform: rotateZ(0deg);
    }
    25%{
        transform: rotateZ(-3deg);
    }
    50%{
        transform: rotateZ(3deg);
    }
    75%{
        transform: rotateZ(-3deg);
    }
    100%{
        transform: rotateZ(0deg);
    }
}

@keyframes expand {
    0%{
        transform: rotateZ(0deg) scale(.8);
    }
    50%{
        transform: rotateZ(0deg) scale(1.1);
    }
    100%{
        transform: rotateZ(0deg) scale(1);
    }
}

.field div::before{
    content: '';

    width: 100%;
    height: 100%;

    background-color: white;
    border-radius: 0.6rem;

    opacity: 0;
    
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
}

.field.revealed div::before{
    animation: grow 300ms ease-out;
}

@keyframes grow {
    from{
        opacity: .8;
        transform: scale(1);
    }
    to{
        opacity: 0;
        transform: scale(1.5);
    }
}