#title-bar{
    background-color: var(--color-revealed);
    grid-row:  1 / 2;
    
    display: grid;
    grid-template-columns: auto 2.5rem 2.5rem 2.5rem;
    align-items: center;

    position: relative;
    z-index: 200;
}

#title-bar div{
    height: 100%;
    width: 100%;
    -webkit-app-region: drag;
    
    box-shadow: 0px 3px 0px var(--shadow-revealed);
    color: var(--color-font);
    
    display: flex;
    align-items: center;
    justify-content: start;
    gap: .5rem;
}

#title-bar div img{
    height: 1.5rem;
    padding-left: .5rem;
    filter: drop-shadow(0px 0px 2px var(--shadow-revealed));
}

#title-bar button{
    appearance: none;
    outline: none;
    border: none;
    
    height: 100%;
    width: 2.5rem;
    background-color: var(--color-revealed);
    box-shadow: 0px 3px 0px var(--shadow-revealed);

    display: flex;
    align-items: center;
    justify-content: center;
}

#title-bar button:hover{
    background-color: #ffadc7;
    box-shadow: 0px 3px 0px var(--shadow-revealed-hover);
}

#title-bar button#close:hover{
    background-color: var(--color-mine);
    box-shadow: 0px 3px 0px var(--shadow-mine);
}

#title-bar button img{
    transform: scale(1);
    transition: all 100ms ease-out;
    filter: drop-shadow(0px 2px 0px var(--shadow-revealed));
}

#title-bar button:hover img{
    filter: drop-shadow(0px 2px 0px var(--shadow-revealed));
}

#title-bar button#close:hover img{
    filter: drop-shadow(0px 2px 0px var(--shadow-mine));
}

#title-bar button:active img{
    transform: scale(.8);
}